Repository mikmc55/mik-annat: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test, coverage

lint:
  stage: test
  image: python:3.11-slim
  script:
  - apt-get update && apt-get install make
  - pip install poetry
  - poetry install
  - make lint

test:
  stage: test
  image: python:3.11-slim
  artifacts:
    reports:
      junit: report.xml
  variables:
    PYTEST_FLAGS: --junitxml report.xml
  script:
  - apt-get update && apt-get install make
  - pip install poetry
  - poetry install
  - make test

coverage:
  stage: test
  image: python:3.11-slim
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  script:
  - apt-get update && apt-get install make
  - pip install poetry
  - poetry install
  ...

Update config.py
  annatar/config.py
Due: coverage

Update human.py
  annatar/human.py
Due: coverage

Update torrent_processor.py
  annatar/pubsub/consumers/torrent_processor.py
Due: coverage

Update torrent.py
  annatar/torrent.py
Due: coverage

Update web.py
  annatar/web.py
Due: coverage

Update configure.html.j2
  templates/configure.html.j2
Due: none

Update Dockerfile
  Dockerfile
Due: lint, test

Update docker-compose.yaml
  docker-compose.yaml
Due: lint, test

Path conditions:
  lint: any of: *
  test: any of: *
  coverage: any of: **/*.py, **/*.pyi, pyproject.toml, poetry.lock
